.landingImg {
  background-image: url(../../assets/images/joe.png);
  background-size: cover;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: inline-block;
}
.developerImg {
  background-image: url(../../assets/images/developer.png);
  background-size: cover;
  width: 55px;
  height: 55px;
  display: inline-block;
}
.floridaImg {
  background-image: url(../../assets/images/florida.png);
  background-size: cover;
  width: 55px;
  height: 55px;
  display: inline-block;
}
.intro {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 4rem;
  font-weight: 600;
}
/* .container {
  padding-left: 6rem;
} */
