.imgStyle {
  background-image: url(../../assets/images/joe.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
}

.journeyCard {
  background-image: url(../../assets/images/journeys_end.gif);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
}

.weatherForecastCard {
  background-image: url(../../assets/images/your-weather-forecast.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
}

.tutorHubCard {
  background-image: url(../../assets/images/tutor_hub.gif);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
}

.noteCraftCard {
  background-image: url(../../assets/images/note_craft.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
}

.payRollXCard {
  background-image: url(../../assets/images/payroll-x.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
}
.cardStyle {
  border: 4px solid #b80300 !important;
}

.containerPadding {
  padding-left: 6rem !important;
  margin-top: 2rem;
}
