@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Kanit:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");

/* body {
  font-family: "Kanit", sans-serif;
  color: #f8f8fb;
  background-color: #0b3954;
} */
Nav {
  background-color: transparent;
}
.nav-link {
  color: #f8f8fb !important;
}

.navHeader {
  background-image: url("./images/header.png");
  height: 8vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #0b3954; /* Ensure the background color is white */
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #0b3954;
}

#root,
.App {
  height: 100%;
}
#root {
  font-family: "Kanit", sans-serif;
  max-width: 1280px;
  background-color: #0b3954;
  color: #f8f8fb;

  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
